.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.cover-canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 2;
}

@keyframes openTileMouse {
  from {
    transform: scale(0);
  }
}

.tile-menu {
  position: absolute;
  background: #555;
  z-index: 2;
  transform-origin: top left;
  transform-origin: var(--transform-origin);

  // in portrait mode, adjust so it fills bottom part of screen
  @media (orientation: portrait) {
    left: 0;      bottom: 0;
    width: 100%;  height: 50%;
  }
  // in landscape mode, put it on the side
  @media (orientation: landscape) {
    left: 0;      top: 0;
    width: 256px; height: 100%;
  }
  // on a computer, position it by mouse
  @media (pointer: fine) {
    left: var(--mouse-x); top: var(--mouse-y);
    width: 256px;         height: 386px;
    animation: openTileMouse 0.2s ease;
  }
}