.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.cover-canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 2;
}

@keyframes openTilePortrait {
  from {
    transform: translateY(100%);
  }
}
@keyframes closeTilePortrait {
  to {
    transform: translateY(100%);
  }
}
@keyframes openTileLandscape {
  from {
    transform: translate(-100%);
  }
}
@keyframes closeTileLandscape {
  to {
    transform: translate(-100%);
  }
}
@keyframes openTileMouse {
  from {
    transform: scale(0);
  }
}
@keyframes closeTileMouse {
  to {
    transform: scale(0);
  }
}

.tile-menu {
  position: absolute;
  background: url('../img/ui/popup.png');
  background-size: cover;
  z-index: 2;
  transform-origin: top left;
  transform-origin: var(--transform-origin);

  // in portrait mode, adjust so it fills bottom part of screen
  @media (orientation: portrait) {
    left: 0;      bottom: 0;
    width: 100vw;  height: 386px / 256px * 100vw;
    animation: openTilePortrait 0.2s ease;
    &.reverse {
      animation: closeTilePortrait 0.2s ease;
    }
  }
  // in landscape mode, put it on the side
  @media (orientation: landscape) {
    left: 0;      top: 0;
    width: 256px; height: 100%;
    animation: openTileLandscape 0.2s ease;
    &.reverse {
      animation: closeTileLandscape 0.2s ease;
    }
  }
  // on a computer, position it by mouse
  @media (pointer: fine) {
    left: var(--mouse-x); top: var(--mouse-y);
    width: 256px;         height: 386px;
    animation: openTileMouse 0.2s ease;
    // run the animation backwards
    &.reverse {
      animation: closeTileMouse 0.2s ease;
    }
  }
}